

  
    <div class="main_container">
     
      
    
    <div class="footer">
        <div class="footer_menu">
           <div class="col_1">
              <div class="title">
                Company  
              </div>  
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Blog</a></li>
              </ul>
           </div>
           <div class="col_2">
             <div class="title">
                Help & Support 
              </div>  
              <ul>
                <li><a href="#">Support Center</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Call Center</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
           </div>
           <div class="col_3">
             <div class="title">
                Services  
              </div>  
              <ul>
                <li><a href="#">Business Consultancy</a></li>
                <li><a href="#">Digital Marketing</a></li>
                <li><a href="#">Market Analysis</a></li>
                <li><a href="#">Web Development</a></li>
              </ul>
           </div>
           <div class="col_4">
             <div class="title">
                Solutions  
              </div>  
              <ul>
                <li><a href="#">Facilities Services</a></li>
                <li><a href="#">Workplace Staffing</a></li>
                <li><a href="#">Project Management</a></li>
                <li><a href="#">Wordpress Management</a></li>
              </ul>
          </div>
        </div>
        <div class="partners">
            <ul>
                <li><a class="partner1" href="#"></a></li>
                <li><a class="partner2" href="#"></a></li>
                <li><a class="partner3" href="#"></a></li>
                <li><a class="partner4" href="#"></a></li>
                <li><a class="partner5" href="#"></a></li>  
            </ul>
        </div>
        <div class="social_media">
            <ul>
                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a class="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
            <p>Copyright © PickleMe Restaurant</p>
        </div>
    </div>
</div>	
	


