
<div class="fullpage">
<div class="gal">
<h1 class="alltexts" id="alltexts" >Gallery of Foods</h1>
<div class="container">
    
    <div class="row">
      <div class="col-md-3"> <img [src]=Photo>
        <h4 class="alltexts">GRILLED FINGERLINGS</h4>
    </div>
      <div class="col-md-3"><img [src]=Photo1>
      <h4 class="alltexts">ASIAN PEAR SALAD</h4>
    </div>
      <div class="col-md-3"><img [src]=Photo2>
        <h4 class="alltexts">ROASTED ACORN SQUASH</h4>
    </div>
      <div class="col-md-3"><img [src]=Photo3>
        <h4 class="alltexts">PISTACHIO CRUSTED SALMON</h4>
    </div>
      
    </div>
    <div class="row">
        <div class="col-md-3"> <img [src]=Photo4>
          <h4 class="alltexts">SMOTHERED CHICKEN</h4>
      </div>
        <div class="col-md-3"><img [src]=Photo5>
            <h4 class="alltexts">THE CRACKER BARRELS</h4>
        </div>
        <div class="col-md-3"><img [src]=Photo6>            
            <h4 class="alltexts">SUNRISE SAMPLER</h4>
        </div>
        <div class="col-md-3"><img [src]=Photo7>
            <h4 class="alltexts">GLAZED BRUSSELS SPROUTS</h4>
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-3"> <img [src]=Photo9>
          <h4 class="alltexts">Masud & Farah Special</h4>
      </div>
        <div class="col-md-3"><img [src]=Photo5>
        <h4 class="alltexts">STRAWBERRY PANCAKES</h4>
        </div>
        <div class="col-md-3"><img [src]=Photo2>
        <h4 class="alltexts">SMOKEHOUSE BREAKFAST</h4>
        </div>
        <div class="col-md-3"><img [src]=Photo3>
        <h4 class="alltexts">UNCLE HERSCHEL'</h4>
        </div>
      </div>
    <a href="/gallery"> <div class="btn">Scroll Up</div> </a>
      
    </div>
    <html>


      </html>
      
    
    </div>
  </div>