<div id="menu" class="w3-container w3-black w3-xxlarge w3-padding-64">
    <h1 class="w3-center w3-jumbo w3-padding-32">MENU</h1>
    <div class="w3-row w3-center w3-border w3-border-dark-grey">
    
    <a href="#lunch"><div class="w3-third w3-padding-large w3-hover-red">Lunch</div></a>
    <a href="#dinner"><div class="w3-third w3-padding-large w3-hover-red">Dinner</div></a>
</div>
    
    

<div>   
    <h1 id="lunch" class="w3-center w3-jumbo w3-padding-32">Lunch</h1>
    <div class="w3-container w3-white w3-padding-32">
    
    <h3 id="traditionalfavorites" class="subhead">Starters</h3>
    
    <h1><b>HONEY GLAZED ONION RINGS</b> <span class="w3-tag w3-grey w3-round"></span>
    <span class="w3-right w3-tag w3-dark-grey w3-round">$6.50</span><button class="addtocartls01">Add to cart</button></h1>
    <p class="w3-text-grey">sweet vidalia onions, deep fried in beer batter,
        glazed with thyme honey</p>
    <hr>
    
    <h1><b>SMOKED CHICKEN QUESADILLA</b> <span class="w3-tag w3-grey w3-round"></span>
     <span class="w3-right w3-tag w3-dark-grey w3-round">$8.50</span><button class="addtocartls02">Add to cart</button></h1>
    <p class="w3-text-grey">with caramelized onions, roasted poblano guacamole,
        jicama salsa & chipotle
        </p>
    <hr>
    <h1><b>ANCHO CHILE SHRIMP TACOS</b> <span class="w3-tag w3-grey w3-round"></span>
        <span class="w3-right w3-tag w3-dark-grey w3-round">$8.50</span><button class="addtocartls03">Add to cart</button></h1>
       <p class="w3-text-grey">with mango salsa, jalapeno-lime crème fraîche,
        guacamole & shredded cabbage
        </p>
       <hr>
       <h1><b>FRIED CALAMARI</b> <span class="w3-tag w3-grey w3-round"></span>
        <span class="w3-right w3-tag w3-dark-grey w3-round">$8.75</span><button class="addtocartls04">Add to cart</button></h1>
       <p class="w3-text-grey">with house-made marinara and salad greens </p>
       <hr>

    <h3 id="traditionalfavorites" class="subhead">Entrees</h3>
    <h1><b>MICROBREW-BATTERED HALIBUT</b> <span class="w3-tag w3-grey w3-round"></span>
        <span class="w3-right w3-tag w3-dark-grey w3-round">$13.25</span><button class="addtocartle01">Add to cart</button></h1>
       <p class="w3-text-grey">with sweet potato fries, house-made slaw & tartar
        sauce
         </p>
       <hr>
       <h1><b>BRAISED BONELESS SHORT RIBS </b> <span class="w3-tag w3-grey w3-round"></span>
        <span class="w3-right w3-tag w3-dark-grey w3-round">$16.00</span><button class="addtocartle02">Add to cart</button></h1>
       <p class="w3-text-grey">with garlic mashed potatoes, sautéed broccolini,
        gremolata & chipotle aioli</p>
        
       <hr>
       <h1><b>GRILLED PORK TENDERLOIN</b> <span class="w3-tag w3-grey w3-round"></span>
        <span class="w3-right w3-tag w3-dark-grey w3-round">$15.75</span><button class="addtocartle03">Add to cart</button></h1>
       <p class="w3-text-grey">with steamed jasmine rice, red Thai curry glaze &
        coriander emulsion </p>
       <hr>
       <h1><b>PISTACHIO CRUSTED SALMON </b> <span class="w3-tag w3-grey w3-round"></span>
        <span class="w3-right w3-tag w3-dark-grey w3-round">$17.00</span><button class="addtocartle04">Add to cart</button></h1>
       <p class="w3-text-grey">with fresh berry salsa, wild rice, potato cake &
        sautéed snap peas </p>
       <hr>


</div>  
    <h1 id="dinner" class="w3-center w3-jumbo w3-padding-32">Dinner</h1>
    <div class="w3-container w3-white w3-padding-32">
    

        <h1><b>GRILLED FINGERLINGS </b> <span class="w3-tag w3-grey w3-round"></span>
            <span class="w3-right w3-tag w3-dark-grey w3-round">$16.99</span><button class="addtocartd1">Add to cart</button></h1>
           <p class="w3-text-grey">Grilled potatoes with a Western flair served
            with sauce of choice  </p>
           <hr>
           <h1><b>ASIAN PEAR SALAD</b> <span class="w3-tag w3-grey w3-round"></span>
            <span class="w3-right w3-tag w3-dark-grey w3-round">$16.49</span><button class="addtocartd2">Add to cart</button></h1>
           <p class="w3-text-grey">Crisp pears and pecans with tender frisée, and
            maple syrup with sharp blue cheese</p>
           <hr>
           <h1><b>ROASTED ACORN SQUASH</b> <span class="w3-tag w3-grey w3-round"></span>
            <span class="w3-right w3-tag w3-dark-grey w3-round">$16.99</span><button class="addtocartd3">Add to cart</button></h1>
           <p class="w3-text-grey">Spicy-sweet, soft wedges potatoes which makes
            a no-fuss holiday meal</p>
           <hr>
           <h1><b>GLAZED BRUSSELS SPROUTS</b> <span class="w3-tag w3-grey w3-round"></span>
            <span class="w3-right w3-tag w3-dark-grey w3-round">$16.49</span><button class="addtocartd4">Add to cart</button></h1>
           <p class="w3-text-grey">Black pepper dusted pecans, dried cranberries,
            and a touch of orange zest</p>
           <hr>
           <h1><b>SMOTHERED CHICKEN </b> <span class="w3-tag w3-grey w3-round"></span>
            <span class="w3-right w3-tag w3-dark-grey w3-round">$20.99</span><button class="addtocartd5">Add to cart</button></h1>
           <p class="w3-text-grey">Grilled chicken breast topped with mushrooms,
            onions and Monterey Jack Cheese</p>
           <hr>
           <h1><b>CALABASH SHRIMP </b> <span class="w3-tag w3-grey w3-round"></span>
            <span class="w3-right w3-tag w3-dark-grey w3-round">$19.49</span><button class="addtocartd6">Add to cart</button></h1>
           <p class="w3-text-grey">Buffalo style, hand-breaded and golden fried
            shrimps with herb butter</p>
           <hr>






 </div>
</div>
