




<div class="fullbanner"> 

    
        
            <div class="contianer">
                <div class="row">
                    <!-- <div class="col-md-4">
                <a href="menu.html"><img [src]=breakfast></a>
                
                </div> -->
                <div class="col-md-6">
                <a href="menu.html">  <img [src]=lunch> </a>

                </div>
                <div class="col-md-6">
               <a href="menu.html"> <img [src]=dinner> </a>
               
               </div> 
               </div>
            </div>

        
        
   
    <div class="container chefspace">
        <div class="row">
            <div class="col-md-6">
        <img [src] =chefather >
        
    </div>
    <div
            class = "col-md-6">
                <div class= "aboutchef textspace">
                    <h1 class= infot >About Our Chef...</h1>
                    <p class= infop> Born and raised in Johnstone, Karen grew up in the home of Gordon Ramsey, attending Eastside UPC until leaving for Bible College in 
                        Jackson, MS. Upon graduating in 2004 with a degree of music from Jackson 
                        College of United Kingdom, she left the UK for the country of United States to be an Associate-In-Missions (AIMer). While there he attended the University of Boston, obtaining a degree in the Italian language. After 4 years of serving in Masachussets, Karen added to his missionary status the country of France and continued her education by attending L'Ecole Superieure de la Cuisine Francaise Gregoire-Ferrandi, obtaining a degree in Culinary Arts.</p>
                </div>

          </div>     
                
        </div>

</div>  
</div>   