<div class="hr"><h1 class="head">We Are Open</h1>
  
  
  <mat-grid-list cols="2" rowHeight="100px">

      <mat-grid-tile style="background-color:black"><ul class="t">
          <li>Monday <span>9:00 am - 10:00 PM</span></li><br>
          <li>Tuesday <span>9:00 am - 10:00 PM</span></li>
          </ul></mat-grid-tile>
      <mat-grid-tile style="background-color:black"> <ul class="t">
  <li>Wednesday <span>9:00 am - 10:00 PM</span></li><br>
  <li>Thursday <span>9:00 am - 10:00 PM</span></li>
  </ul></mat-grid-tile>
      </mat-grid-list>
      
    
  <div class="row">
      <mat-grid-list cols="2" rowHeight="100px">

          <mat-grid-tile style="background-color:black"><ul class="t">
              <li>Friday <span>9:00 am - 10:00 PM</span></li><br>
              <li>Saturday <span>9:00 am - 02:00 AM</span></li>
              </ul></mat-grid-tile>
              
          <mat-grid-tile style="background-color:black"> <ul class="t">
      <li>Sunday <span>9:00 am - 04:00 AM</span></li>
      
      </ul></mat-grid-tile>
          </mat-grid-list>
          </div>
          <div>
      <button class="btn">Reservation</button>
          </div>
  
  
 

</div>