<div class="container custom-container">
    <div class="alert alert-danger" *ngIf="errorMessage">
      <strong>Error!</strong> {{errorMessage}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-success" *ngIf="infoMessage">
      <strong>Successful!</strong> {{infoMessage}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div *ngIf="dataSource">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title">All Reservations</h3>
            </div>
          </div>
        </div>
  
        <div class="card-body">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
  
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
              <td mat-cell *matCellDef="let element">{{element.firstname}}</td>
            </ng-container>
  
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
              <td mat-cell *matCellDef="let element">{{element.lastname}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
              </ng-container>

              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                <td mat-cell *matCellDef="let element">{{element.phone}}</td>
              </ng-container>

              <ng-container matColumnDef="party">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Customers</th>
                <td mat-cell *matCellDef="let element">{{element.party}}</td>
              </ng-container>
  
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
              <td mat-cell *matCellDef="let element" style="width:140px;">
                <!-- <a class="btn btn-warning custom-btn-link" (click)="editUserRequest(element)"><em class="glyphicon glyphicon-pencil"></em></a> -->
                <a class="btn btn-danger custom-btn-link" (click)="deleteUserRequest(element)"><em class="glyphicon glyphicon-trash"></em></a>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="userModal" #userModal tabIndex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form name="form-user-update" (ngSubmit)="f.form.valid && editUser()" #f="ngForm" novalidate>
          <div class="modal-header">
            <h5 class="modal-title">Reservations Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" *ngIf="errorMessage">
              <strong>Error!</strong> {{errorMessage}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
  
            <div class="form-group" >
              <label for="firstname">First Name</label>
              <input type="text" class="form-control input-text-custom" id="firstname" name="firstname" [(ngModel)]="selectedReserve.firstname" #firstname="ngModel" required />
              <!-- <div *ngIf="f.submitted && !name.valid" class="help-block">An valid name is required.</div> -->
            </div>
            <div class="form-group" >
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control input-text-custom" id="lastname" name="lastname" [(ngModel)]="selectedReserve.lastname" #lastname="ngModel" required />
              <!-- <div *ngIf="f.submitted && !username.valid" class="help-block">An valid username is required.</div> -->
            </div>

            <div class="form-group" >
                <label for="email">Email</label>
                <input type="text" class="form-control input-text-custom" id="email" name="email" [(ngModel)]="selectedReserve.email" #email="ngModel" required />
                <!-- <div *ngIf="f.submitted && !username.valid" class="help-block">An valid username is required.</div> -->
              </div>

            <div class="form-group" >
                <label for="phone">Phone</label>
                <input type="text" class="form-control input-text-custom" id="phone" name="phone" [(ngModel)]="selectedReserve.phone" #phone="ngModel" required />
                <!-- <div *ngIf="f.submitted && !username.valid" class="help-block">An valid username is required.</div> -->
              </div>

              <div class="form-group" >
                <label for="party">party</label>
                <input type="text" class="form-control input-text-custom" id="party" name="party" [(ngModel)]="selectedReserve.party" #party="ngModel" required />
                <!-- <div *ngIf="f.submitted && !username.valid" class="help-block">An valid username is required.</div> -->
              </div>
  
          
    
  
            <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <label for="password">Password</label>
              <input readonly type="password" class="form-control input-text-custom" id="password" name="password" [(ngModel)]="selectedUser.password" #password="ngModel" required />
              <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required.</div>
            </div> -->
  
            <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !role.valid }">
              <label for="role">User Role</label>
              <select class="form-control" name="role" id="role" required [(ngModel)]="selectedUser.role" #role="ngModel">
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
              </select>
              <div *ngIf="f.submitted && !role.valid" class="help-block">Role is required.</div>
            </div> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  
  <div class="modal fade" id="deleteModal" #deleteModal tabIndex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            Are you sure to delete <strong>{{selectedReserve.firstname}}</strong>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button class = "btn btn-danger" (click) = "deleteReserve()">I'm Sure</button>
          </div>
      </div>
    </div>
  </div>
  